<div class="container">
  <div class="jumbotron">
    <h1 class="display-3">Cholq'ij</h1>
    <p>Es el calendario sagrado Maya,es el calendario de la esperitualidad Maya.</p>
    <hr>
    <p> Nuestors sabios los ancianos Mayas decidieron hacer pùblico el Sagrado Cholq'ij, con la esperanza de que cada quien oriente su vida y encuentre el propòsito de esta
    y acceda al Saq'b'e (camino sagrado,camino blanco y correcto).
    </p>
    <p>
      <a [routerLink]="['../cursos']" class="btn  btn-lg">Dìas Sagrados Mayas...</a>
    </p>
  </div>
</div>
